body{
    background-color: #ccc;
}


.clock{
    margin: auto;
    text-align: center;
    
}
.timeclock{
    color: blue;
    font-size: 100px;
    width: 900px;
    height:400px;
    background-color: black;
    position: absolute;
    left: 20%;
    top: 10%;
    border-radius: 7px;

}